<% const { formId, dropdownId, jsonResultId } = uiItem; %>
<form id="<%= formId %>" class="row">
  <label for="<%= dropdownId %>" class="form-label">Schedule <%= i %> Boiler switch at: </label>
  <div class="col-sm-4">
    <select name="<%= dropdownId %>" id="<%= dropdownId %>" class="form-select">
      <% schedulesOptions.forEach((opt)=> { %>
      <option value="<%= opt %>" <%=(opt===schedule)? "selected" : "" %>>
        <%= opt %>
      </option>
      <% }); %>
    </select>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" onclick=<%=`handleSubmitSchedule(${i},'${dropdownId}','${jsonResultId}')` %>>
      Schedule Set!
    </button>
  </div>
  <code id="<%= jsonResultId %>"></code>
</form>
<hr />